@charset "UTF-8";

/* PALETA DE CORES 

    #1B77E1
    #3E81CD
    #5584B9
    #8BB1DC
    #5F6A77
    #2C3034

*/

* {

    padding: 0px;
    margin: 0px;
    font-family: "Roboto", serif;
    box-sizing: border-box;

}

body {

    height: 100%;
    width: 100%;

   

}

header {

    width: 100%;
    height: 150px;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    
    justify-content: space-between;

}

header span#menuh {

    font-size: 3em;
    align-self: center;
    

}

header span#menuh:hover {

    cursor: pointer;

}

header img#logoh {

    height: 150px;
    width: 150px;

    align-self: center;
    

}

header nav {

    height: 100vh;
    width: 60%;
    border: solid black 1px;
    border-radius: 0px 10px 10px 0px;
    background-color: white;
    order: -1;

    z-index: 1;

    display: none;
    flex-flow: column nowrap;
    align-items: center;

    overflow-y: scroll;
    overflow-x: hidden;



}

header nav img {


    width: 200px;

}

header nav a {

    text-decoration: none;
    color: white;
    background-color: #1B77E1;
    border-radius: 5px;
    height: 40px;
    width: 50%;
    text-align: center;
    padding-top: 9px;
    margin: 5px;

    font-size: 1em;


}

header nav a:hover {

    background-color: #5584B9;
    transition: 0.1s;

}

main {

    display: flex;

}

section#s1 {

    width: 100%;
    

    border: solid black 1px;

    background-image: url(imagens/condominios/f1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;

}


section#s1 div#ds1 {

    background-color:rgb(255, 255, 255);
    border-radius: 5PX;
    width: 60%;
    height: 400PX;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.205);

}

section#s1 p#p1t {

    font-size: 2em;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 5PX;

}

section#s1 a {

    text-decoration: none;
    color: white;
    background-color: #1B77E1;
    border-radius: 5px;
    height: 40px;
    width: 50%;
    text-align: center;
    padding-top: 5px;
    margin: 5px;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 1em;

}

section#s1 a:hover {

    background-color: #5584B9;
    
    width: 55%;

    transition: 0.3s;

}

section#s1 div#ds1 div {

    
    margin-left: 10px;
    align-self: flex-start;
    padding-top: 10px;

} 

.wpp {

    height: 50px;
    

}

section#s2 {

    margin-top: 50px;

}



main#main2 {

    display: flex;
    width: 100%;
    height: 100%;
}

main#main2 section#s2 {

    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-items: center;

}

main#main2 section#s2 div {

    width: 50%;
    height: 150px;
    background-color: #1B77E1;
    border: solid 1px black;
    margin-top: 10px;

    background-image: url(imagens/foto-inicio.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    

}


footer {

    display: flex;
    flex-flow: row nowrap;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
    

}

footer p {

    margin-left: 5px;
    margin-right: 5px;

}

footer p:hover {

    color: white;

}
